name: Deploiement Continu

on:
  workflow_run:
    workflows: ["Integration Continue"] # Doit correspondre EXACTEMENT au name du fichier ci.yml
    types:
      - completed

jobs:
  deploy-app:
    runs-on: ubuntu-latest
    # Sécurité : On ne déploie QUE si le CI a réussi (sinon ça se lance aussi en cas d'échec)
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - name: Simulation du déploiement
      run: |
        echo "Le workflow CI a réussi."
        echo "Je peux donc déployer l'application..."
        echo "Déploiement terminé !"