name: Integration Continue

on:
  push:
    branches: [ "main" ]

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
    - name: Récupération du code
      uses: actions/checkout@v3
    - name: Installation Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Lancement des tests
      run: python test_main.py