name: Mon Super Pipeline CI

# 1. LE DÉCLENCHEUR (Trigger)
# On dit : "Lance-toi quand on fait un 'push' sur la branche 'main'"
on:
  push:
    branches: [ "main" ]

# 2. LES TRAVAUX (Jobs)
jobs:
  test-app:
    # On choisit l'ordinateur virtuel (Runner) fourni par GitHub
    runs-on: ubuntu-latest

    # 3. LES ÉTAPES (Steps)
    steps:
    # Étape A : Récupérer ton code sur l'ordinateur virtuel
    - name: Récupération du code (Checkout)
      uses: actions/checkout@v3

    # Étape B : Installer Python
    - name: Installation de Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Étape C : Lancer le test (comme tu l'as fait chez toi !)
    - name: Lancement des tests
      run: python test_main.py